/* ------------------------- By types ---------------------------- */

td,th {
    height: 50%;
    line-height: 100%;
    text-align: center;
    vertical-align: middle
  }
  
  /* ------------------------- By class ---------------------------- */
  
  .col{
      margin-top : 10px;
      margin-bottom : 10px;
      text-align : left;
  }
  
  .container-fluid {
    width : 100%;
    margin-top: 20px;
  }
  
  .fa-caret-right{
      position: relative;
      top: 1px;
      display: inline-block;
      width: 11px;
      height: 11px;
      margin-right: 0px;
      margin-left : 8px;
      transform: rotate(0deg);
      transition: transform 0.2s linear;
  }.fa-caret-right.open{
      transform: rotate(90deg);
      transition: transform 0.2s linear;
  }
  
  
  .input-group-text{
      font-size : 80%;
  }.input-group-text.checkbox{
      width : inherit;
  }.input-group-text.checkbox .tooltiptext {
      visibility: hidden;
      width: 75%;
      background-color: #6A8695;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      opacity : 0.8;
      /* Position the tooltip text - see examples below! */
      position: absolute;
      z-index: 1;
      top: -5px;
      left: 105%; 
  }.input-group-text.checkbox:hover .tooltiptext {
      visibility: visible;
  }.input-group-text.numbers {
      width : 80%;
  }.input-group-text.numbers .tooltiptext {
      visibility: hidden;
      width: 75%;
      background-color: #6A8695;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      opacity : 0.8;
      /* Position the tooltip text - see examples below! */
      position: absolute;
      z-index: 1;
      top: -5px;
      left: 105%; 
  }.input-group-text.numbers:hover .tooltiptext {
      visibility: visible;
  }.input-group-text.text {
      width : 20%;
  }
  
  
  
  .panel-collapse {
      margin-top : 10px ;
      margin-bottom : 20px ;
      width: 80%;
      background-color : #CAE7F0;
      border-style: solid;
      border-color: #6A8695;
      border-width: 1px;
  }
  
  .row{
      width : 100%;
      margin-left: auto;
      margin-right: auto;
  }
  
  .s-container {
    margin-top: 150px; 
  }
  
  .slow-spin{
    -webkit-animation: fa-spin 0.6s 3s cubic-bezier(0,.77,0,.98);
    animation: fa-spin 3s; 
  }
  
  .subtext {
      margin-left : auto; 
      font-size: 80%;
      font-style: italic;
      
  }
  
  .text-option {
      font-size: 75%;
  }
  
  /* ------------------------- By ID ---------------------------- */
  #accessButton{
      margin-bottom : 150px;
  }
  
  #anim1{
      color : #6A8695;
  }
  
  #boost{
      background-color : #E05454;
  }#boost:hover {
      background-color : #B12121;
  }#boost:hover::after {
      opacity: 1;
  }#boost::after {
      content: "";
      border-radius: 5px;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      opacity: 0;
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  #go{
      position: relative;
      margin-top : 15px;
      display: inline-block;
      border-radius: 5px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }#go::after {
      content: "";
      border-radius: 5px;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      opacity: 0;
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }#go:hover {
      -webkit-transform: scale(1.25, 1.25);
      transform: scale(1.25, 1.25);
  }#go:hover::after {
      opacity: 1;
  }
  #IN-nbRes{
      border-style: solid;
      border-color: #6A8695;
      border-width: 1px;
  }
  
  #IN-nbDis{
      border-style: solid;
      border-color: #6A8695;
      border-width: 1px;
  }
  
  #IN-score{
      border-style: solid;
      border-color: #6A8695;
      border-width: 1px;
  }
  
  #options_button{
      position: relative;
      color: #2F8EAF;
      text-decoration: none;
  }#options_button:hover {
      color: #6A8695 ;
  }#options_button:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #6A8695;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
  }#options_button:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
  }
  
  #rejected{
      border-style: solid;
      border-color: #6A8695;
      border-width: 1px;
      height : 77%;
  }
  
  #results{
      margin-bottom : 20px;
  }
  
  #search {
      margin-top : 20px;
      width: 400px;
      transition: width 0.4s ease-in-out;
  }
  
  #selectype {
      border-style: solid;
      border-color: #6A8695;
      border-width: 1px;
      height : 77%;
  }
  
  #selectfields {
      border-style: solid;
      border-color: #6A8695;
      border-width: 1px;
  }
  
  